# ── API ───────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:4000

# ── AWS Cognito ───────────────────────────────────────────────────────────────
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
NEXT_PUBLIC_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
